@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

html {
	@apply w-screen min-h-screen;
}

body {
	@apply w-screen min-h-screen bg-slate-900 relative;
}

body::before {
	content: '';
	@apply fixed top-0 left-0 w-screen h-screen bg-img-main bg-cover bg-center;
}

a {
	@apply text-white hover:opacity-70 transition-opacity underline decoration-sky-600 decoration-4;
}

.intro-link {
	@apply block rounded-md bg-slate-900 text-lg mx-2 px-4 py-2;
}

.clip-right-point {
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.clip-right-chevron {
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.clip-top-point {
	clip-path: polygon(0 30%, 50% 0, 100% 30%, 100% 100%, 0% 100%);
}

.project-dots {
	margin-top: -1px;
}

.project-donut {
	clip-path: polygon(0% 0%, 0% 100%, 38% 100%, 38% 50%, 62% 50%, 62% 100%, 100% 100%, 100% 0%);
	background-image: radial-gradient(circle 10px at center, transparent 4px, #93c5fd 0);
}

.pill-left {
	clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 60% 50%, 0% 0%);
}

.pill-right {
	clip-path: polygon(25% 0, 100% 50%, 25% 100%, 0% 100%, 0 50%, 0% 0%);
}

.blog-post-prose {
	h1 {
		@apply font-bold text-3xl sm:text-5xl mb-4 sm:mb-5;
	}

	h2 {
		@apply font-bold text-3xl sm:text-4xl mt-10 mb-4 sm:mt-12 sm:mb-6;
	}

	h3 {
		@apply font-bold text-2xl sm:text-3xl mt-8 mb-2 sm:mt-10 sm:mb-4;
	}

	h4 {
		@apply font-semibold text-xl sm:text-2xl mt-6 mb-1 sm:mt-8 sm:mb-2;
	}

	p,
	li {
		@apply text-lg sm:text-xl my-4;
	}

	blockquote {
		@apply mx-6 my-4 pl-4 py-1 border-l-4 border-gray-300 text-lg sm:text-xl italic;
	}

	img {
		@apply mx-auto my-8 max-w-5xl drop-shadow-lg;
	}

	code {
		background: rgb(45, 45, 45);
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
		@apply px-2 py-1 rounded-lg text-sm;

		.token.operator {
			background: none;
		}
	}

	pre {
		@apply rounded-sm px-5;

		code {
			@apply p-0 text-base;
		}
	}

	.code-toolbar {
		@apply mx-2 my-8;

		.toolbar {
			.toolbar-item {
				@apply select-none mx-1;
			}
		}
	}

	ul,
	ol {
		@apply mx-10;

		li {
			@apply my-2;
		}
	}

	ul {
		@apply list-disc;
	}

	ol {
		@apply list-decimal;
	}
}
